@use "../../assets/colors";

@mixin grid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


@mixin footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: colors.$darkTheme;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s, background-color 0.2s;
  justify-content: flex-end;
}

/* CodeMirror background will match the page background */
.CodeMirror {
  background-color: var(--editor-background-color) !important;
  color: var(--editor-text-color) !important;
  border: none !important;
  font-family: inherit;
}

.ͼ15,
.ͼ2 .cm-activeLine {
  background-color: var(--editor-background-color) !important;
  color: var(--editor-text-color) !important;
}

.ͼ4 .cm-line {
  caret-color: var(--editor-text-color) !important;
}

/* Applies light/dark background dynamically */
@media (prefers-color-scheme: light) {
  :root {
    --editor-background-color: #ffffff;
    --editor-text-color: #213547;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --editor-background-color: #242424;
    --editor-text-color: rgba(255, 255, 255, 0.87);
  }
}