@use '../../assets/sass/theme';
@use '../../assets/sass/colors';

.markdown-wrapper {
  padding: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.8rem;
    border-bottom: 1px;
    border-style: solid;
    padding: 10px;
    border-color: theme.$markdownBorderColor;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;

    >li>ul {
      list-style-type: circle;
      margin-top: 8px;
      margin-bottom: 8px;

      >li>ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  ol,
  ul {
    margin-left: 1.5em;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  ul,
  li,
  ol {
    font-size: 1rem;
    line-height: 1.5;
  }

  table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    border-color: theme.$markdownBorderColor !important;
    display: block !important;
    margin: 20px auto !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: auto !important;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    padding: 0.7rem;
  }

  thead {
    font-weight: 700;
    border-width: 2px 2px 0px 2px;
  }

  th {
    border-left-width: 2px;
  }

  tr {
    border-color: theme.$markdownBorderColor !important;
    border-style: solid !important;
    border-bottom-width: 2px !important;
  }

  td {
    border-left-width: 2px;
  }

  tbody {
    border-right-width: 2px;
  }

  hr {
    margin-bottom: 20px;
    border-color: theme.$hr !important;
  }

  blockquote {
    font-style: italic;
    color: #6a737d;
    padding-left: 1em;
    border-left: 3px solid colors.$themePurpleText; // #dfe2e5
    margin-left: 0;
  }

  a {
    cursor: pointer;
  }

  /* code block */
  pre div {
    background-color: theme.$codeBlockBg !important;
    border-radius: 0.5rem;
    // border: 1px solid colors.$themePurple; // border color

    code {
      color: theme.$textColor !important;
      text-shadow: theme.$backgroundColor 0px 1px !important;

      .token {
        background: theme.$codeBlockBg !important; // = sign
      }
    }
  }

}