.markdown-wrapper {
  padding: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.8rem;
    border-bottom: 1px;
    border-style: solid;
    padding: 10px;
    border-color: #84848424;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;

    >li>ul {
      list-style-type: circle;
      margin-top: 8px;
      margin-bottom: 8px;

      >li>ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  ol,
  ul {
    margin-left: 1.5em;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  ul,
  li,
  ol {
    font-size: 1rem;
    line-height: 1.5;
  }

  table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    border-color: inherit !important;
    display: block !important;
    margin: 20px auto !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: auto !important;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 2px !important;
    padding: 0.7rem;
  }

  thead {
    font-weight: 700;
  }

  hr {
    margin-bottom: 20px;
  }
}