@use './note';
@use '../../assets/sass/theme';

.view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .ex-im-btn {
    background-color: theme.$sectionBg;
    color: theme.$textColor;
    font-size: 0.8rem;
    margin: 1px;
  }
}

.preview {
  @include note.grid;
}

.preview__wrapper {
  max-height: 100%;
  margin: 10px 40px;
  margin-bottom: 80px;
  flex-grow: 1;
  overflow-y: auto;
}

.preview__scroll {
  overflow-y: auto;
  flex-grow: 1;
  width: 50%;
  padding-bottom: 20px;
}

.footer {
  @include note.footer;
}

@media screen and (max-width: 768px) {
  .preview__wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}