@use './note';
@use '../../assets/sass/default.styles' as default;

.view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .ex-im-btn {
    background-color: default.$darkThemeBg;
    color: default.$lightThemeBg;
    font-size: 0.8rem;
    margin: 1px;
  }
}

.preview {
  @include note.grid;
}

.preview__wrapper {
  max-height: 100%;
  margin: 80px 40px;
  flex-grow: 1;
  overflow-y: auto;
}

.preview__scroll {
  overflow-y: auto;
  flex-grow: 1;
  width: 50%;
  padding-bottom: 20px;
}

.footer {
  @include note.footer;
}