@use 'sass:color';
@use 'colors';


// $darken-themePurple: color.adjust()

// theme purple button
.button1 {
  color: colors.$themeWhite;
  background-color: colors.$themePurple;
  margin-left: 10px;

  &:hover {
    background-color: color.adjust(colors.$themePurple, $lightness: -10%);
  }
}

.button2 {
  color: #000;
  background-color: colors.$themeWhite;
  margin-left: 10px;

  &:hover {
    background-color: color.adjust(colors.$themeWhite, $lightness: -10%);
  }
}