@use 'sass:color';
@use 'colors';
@use './default.styles' as default;


@mixin buttonColors($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
  margin-left: 5px;

  &:hover {
    background-color: color.adjust($bgColor, $lightness: -10%);
  }
}

// theme purple button
.button1 {
  @include buttonColors(colors.$themeWhite, colors.$themePurple);
}

// theme white button
.button2 {
  @include buttonColors(#000, colors.$themeWhite);
}

// black button
.button3 {
  @include buttonColors(colors.$themeWhite, #000);
}

// delete button
.button4 {
  @include buttonColors(colors.$themeWhite, #dc3545);
}

.small-text {
  @include default.small-text;
}