@use 'sass:color';
@use '../../assets/sass/colors';
@use '../../assets/sass/mixins';
@use '../../assets/sass/theme';

.title-bar {
  color: colors.$themePurple;
}

.navbar-logo {
  flex-direction: row;
  align-items: center;
}

.navbar-btns {
  justify-content: flex-end;
}

.details-text {
  &:hover {
    color: color.adjust(colors.$themePurpleText, $lightness: -5%);
    cursor: pointer;
  }
}

.details-popover {
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    @include mixins.small-text;
  }
}

.back-btn {
  min-height: 30px;
  min-width: 30px;
  margin-right: 10px;
  color: theme.$textColor;
  cursor: pointer;
}

/* Sort button */
.sort {
  .css-1hl2915 {
    background-color: theme.$backgroundColor;
    border-color: rgba($color: colors.$themePurple, $alpha: 0.4);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .folder-nav {
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .navbar-logo {
    flex-direction: column;
    align-items: center;
  }

  .navbar-btns {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}