@use 'sass:color';
@use '../../assets/sass/colors';
@use '../../assets/sass/default.styles' as default;

.navbar {
  border-bottom: 1px;
  border-style: solid;
  border-color: inherit;
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  left: 0;
  z-index: 2;
  color: colors.$themePurple;
}

.details-text {
  &:hover {
    color: color.adjust(colors.$themePurpleText, $lightness: -5%);
    cursor: pointer;
  }
}

.details-popover {
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    @include default.small-text;
  }
}

.back-btn {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: default.$textColor;
  cursor: pointer;
}

.sort {
  background-color: default.$backgroundColor;
  // margin: 0 5px;
}