@use '../../assets/sass/theme';

.settings__container {
  margin-bottom: 20px;
}

.settings-card {
  width: 75%;
  margin: 5px 10px;
  background-color: theme.$sectionBg;
}

.settings-card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}