@use 'sass:color';
@use '../../assets/sass/colors';
@use '../../assets//sass/mixins';
@use '../../assets/sass/theme';

.header-container {
  margin-top: 60px;

  >* {
    margin: 0 5px;
  }
}

.auth-component h1 {
  @include mixins.large-text;
  text-align: center;
  font-weight: 700;
}

.login-form {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 27rem;
  padding: 10px;
  padding-top: 20px;
}

// card description
.css-b9p74s {
  color: colors.$themePurpleText;
}

// input box
.css-1u9g43l {
  width: 100%;
}

.navigate {
  margin: 50px;
  margin-top: 20px;
  text-align: center;

  p {
    margin-bottom: 20px;
    font-weight: 600;
  }

  a {
    font-size: 0.875rem;
  }
}

.auth-btn {
  width: 100%;
  margin-top: 5px;
}

.navigate-btn {
  color: colors.$themePurple;
}