@use 'sass:color';
@use 'colors';
@use 'theme';

@mixin buttonColors($color, $bgColor, $static) {
  color: $color;
  background-color: $bgColor;
  margin-left: 5px;

  @if $static {
    &:hover {
      background-color: color.adjust($bgColor, $lightness: -10%);
    }
  }
}

// theme purple
.button1 {
  @include buttonColors(colors.$lightBg, colors.$themePurple, $static: true);
}

// dark button (logout btn)
.button2 {
  @include buttonColors(theme.$lightThemeBg, colors.$darkBgSecondary, $static: false);
  border-width: 1px;
  border-color: rgba($color: colors.$themePurple, $alpha: 0.4);
}

// purple / dark (auth btn)
.button3 {
  @include buttonColors(colors.$lightBg, theme.$authBtnBg, $static: false);
}

// delete
.button4 {
  @include buttonColors(colors.$lightBg, #dc3545, $static: true);
}

// button outline
.button5 {
  @include buttonColors(theme.$textColor, 'transparent', $static: false);
  border-width: 1px;
  border-color: theme.$markdownBorderColor;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  height: 2.5rem;
  min-width: 2.5rem;
  padding-inline: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px;

  &:hover {
    background-color: theme.$backgroundHover;
  }
}

.logout-btn {
  margin-left: 0;
}