$themePurple: #3b45ff;
$themePurpleText: #646cff;
$lightBg: #ffffff;
$darkBg: #09090B;
$darkSectionBg: #242424;
$darkBgSecondary: #18181b;
$lightText: #ffffffde;
$darkText: #213547;
$lightBorder: #e4e4e7;
$darkBorder: #27272a;