$themePurple: #3b45ff;
$themePurpleText: #646cff;
$lightBg: #ffffff;
$darkBg: #121212;
$darkSectionBg: #18181b; // card bg
$darkBgSecondary: #111111; // logout btn
$lightText: #ffffffde;
$darkText: #213547;
$lightBorder: #e4e4e7;
$darkBorder: #1a1a1a;