@use 'sass:color';
@use 'colors';

$lightThemeBg: colors.$lightBg;
$darkThemeBg: colors.$darkBg;
$darkSectionBg: colors.$darkSectionBg;
$lightThemeHover: color.adjust($lightThemeBg, $lightness: -10%);
$darkThemeHover: color.adjust($darkSectionBg, $lightness: -10%);

$backgroundColor: var(--background-color);
$sectionBg: var(--section-background-color);
$textColor: var(--text-color);
$backgroundHover: var(--background-hover);
$borderColor: var(--border);
$hr: var(--hr);
$markdownBorderColor: var(--markdown-border);
$authBtnBg: var(--auth-btn);
$dropShadow: var(--icon-drop-shadow);
$codeBlockBg: var(--code-block-background-color);
$selectedTextMardownSymbolsColor: var(--selected-text-markdown-symbol);

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #{$lightThemeBg};
    --section-background-color: #{$lightThemeBg};
    --text-color: #{colors.$darkText};
    --background-hover: #{$lightThemeHover};
    --border: #{colors.$lightBorder};
    --hr: #{colors.$lightBorder};
    --markdown-border: #{colors.$lightBorder};
    --auth-btn: #{colors.$darkBgSecondary};
    --icon-drop-shadow: drop-shadow(0 0 2em #646cffaa);
    --code-block-background-color: rgb(245, 242, 240);
    --selected-text-markdown-symbol: #404740;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$darkThemeBg};
    --section-background-color: #{$darkSectionBg};
    --text-color: #{colors.$lightText};
    --background-hover: #{$darkThemeHover};
    --border: #{colors.$darkBorder};
    --hr: #3f3f46;
    --markdown-border: #84848424;
    --auth-btn: #{colors.$themePurple};
    --icon-drop-shadow: drop-shadow(0 0);
    --code-block-background-color: #1f1f23;
    --selected-text-markdown-symbol: #{colors.$darkBorder};
  }
}