@use 'sass:color';
@use 'colors';
@use './default.styles' as default;


@mixin buttonColors($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
  margin-left: 5px;

  &:hover {
    background-color: color.adjust($bgColor, $lightness: -10%);
  }
}

/* Buttons---------------- */

// theme purple
.button1 {
  @include buttonColors(colors.$themeWhite, colors.$themePurple);
}

// theme white
.button2 {
  @include buttonColors(#000, colors.$themeWhite);
}

// black
.button3 {
  @include buttonColors(colors.$themeWhite, #000);
}

// delete
.button4 {
  @include buttonColors(colors.$themeWhite, #dc3545);
}

/* Text---------------- */

.small-text {
  @include default.small-text;
}

.medium-text {
  @include default.medium-text;
}