@use 'sass:color';
@use 'colors';
@use 'theme';
@use 'mixins';
@use 'buttons';

/* Text---------------- */

.small-text {
  @include mixins.small-text;
}

.medium-text {
  @include mixins.medium-text;
}

.large-text {
  @include mixins.large-text;
}

.themePurple-text {
  @include mixins.medium-text;
  color: colors.$themePurpleText;
}

.gif {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  filter: theme.$dropShadow;
}